In [1]:
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform
import pandas as pd
import seaborn as sns

In [2]:
train = pd.read_csv("./으쌰으쌰/2013-2018gastemp.csv")

In [3]:
train.head()

   Unnamed: 0         연월일  시간  구분       공급량  year  month  day  weekday   기온
0           0  2013-01-01   1   0  2497.129  2013      1    1        1 -6.4
1           1  2013-01-01   1   1  2169.093  2013      1    1        1 -6.4
2           2  2013-01-01   1   2   226.178  2013      1    1        1 -6.4
3           3  2013-01-01   1   3  1434.516  2013      1    1        1 -6.4
4           4  2013-01-01   1   4  3272.837  2013      1    1        1 -6.4

In [4]:
train1 = pd.read_csv("./으쌰으쌰/2013-2018년_가스공급량과_기온2.csv")

In [5]:
train1.head()

,Unnamed: 0,Unnamed: 0.1,연월일,시간,구분,공급량,year,month,day,weekday,기온
0,0,0,2013-01-01,1,0,2497.129,2013,1,1,1,-6.4
1,1,1,2013-01-01,1,1,2169.093,2013,1,1,1,-6.4
2,2,2,2013-01-01,1,2,226.178,2013,1,1,1,-6.4
3,3,3,2013-01-01,1,3,1434.516,2013,1,1,1,-6.4
4,4,4,2013-01-01,1,4,3272.837,2013,1,1,1,-6.4

### 릿지 라쏘

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
import seaborn as sns

In [8]:
from sklearn.linear_model import Lasso
import numpy as np

In [9]:
#셋 설정
X = train1[["year", "month", "day"]]
y = train1["공급량"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
X_train.shape, X_test.shape

((276066, 3), (92022, 3))

In [12]:
lasso = Lasso(alpha=0.01).fit(X_train, y_train)
print("학습용 데이터 세트 점수 : {:.2f}".format(lasso.score(X_train, y_train)))
print("테스트 데이터 세트 점수 : {:.2f}".format(lasso.score(X_test, y_test)))

학습용 데이터 세트 점수 : 0.02
테스트 데이터 세트 점수 : 0.02

In [14]:
from sklearn.linear_model import Ridge

In [24]:
ridge = Ridge(alpha=0.01).fit(X_train, y_train)
print(ridge)
print("훈련 세트 점수 : {:.2f}".format(ridge.score(X_train, y_train)))
print("테스트 세트 점수 : {:.2f}".format(ridge.score(X_test, y_test)))

Ridge(alpha=0.01)
훈련 세트 점수 : 0.02
테스트 세트 점수 : 0.02